
if type==="notsigned"
	header.navbar#six-header(class=type)(class=page)(role='navigation')

if type==="buyer"
	header.navbar#six-header(class=type)(class=page)(role='navigation')
		.navbar-header#six-head
				.navbar-brand(class=headBrand)
					//- 桌機出現 手機消失  =.hidden-xs
					//- 桌機消失 手機消失  =.hidden
					a.page-scroll(href='http://google.com')
						img(src="../images/logo.svg")

				if pagetitle
					.headTitle
						h2=pagetitle

				section.searchbar.hidden-xs(class=headSearch)
					//- 桌機出現 手機消失  =.hidden-xs
					//- 桌機消失 手機消失  =.hidden-xs.hidden-sm.hidden-md.hidden-lg
					.input-group
						input.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(type='button')

				button#menu-toggle.btn.bars
					//- 回上頁= button#menu-toggle.btn.back
				button#menu-back.btn.back
					//- 回上頁= button#menu-toggle.btn.back
				ul.six-topNvbar
					li
						button.btn.bell
							.badge 9
					li
						button.btn.heart
							.badge 99
					li
						button.btn.cart
							.badge 99
				#sidebar-wrapper
					.inner
						figure.six-avatar
							img.img-circle(src='../images/avatar.jpg', alt='莫孟娜')
						.six-userName
							a(href='/user-home') 莫孟娜
							a.btn.btn-primary.btn-xs.pull-right(href='/logout', title='會員登出') 登出
						.six-userNvbar
							ul.navbar-nav
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("訊息通知");', title='訊息通知')
										span 訊息通知
								li.dropdown
									a(href='javascript: console.log("商品列表");', title='商品列表')
										span 商品列表
								li.dropdown
									a(href='javascript: console.log("農莊品牌館");', title='農莊品牌館')
										span 農莊品牌館
								li.dropdown
									a(href='javascript: console.log("訂單查詢");', title='訂單查詢')
										span 訂單查詢
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("我的最愛");', title='我的最愛')
										span 我的最愛
								li.dropdown
									a(href='javascript: console.log("個人設定");', title='個人設定')
										span 個人設定
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("購物車");', title='購物車')
										span 購物車
								li.dropdown.conversion
									a(href='javascript: console.log("切換成農莊");', title='切換成農莊')
										span 切換成農莊

if type==="seller"
	header.navbar#six-header(class=type)(class=page)(role='navigation')
		.navbar-header#six-head
				.navbar-brand(class=headBrand)
					a.page-scroll(href='http://google.com')
						img(src="../images/logo.svg")

				if pagetitle
					.headTitle
						h2=pagetitle

				section.searchbar.hidden-xs(class=headSearch)
					//- 桌機出現 手機消失  =.hidden-xs
					//- 桌機消失 手機消失  =.hidden-xs.hidden-sm.hidden-md.hidden-lg
					.input-group
						input.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(type='button')

				button#menu-toggle.btn.bars
					//- 回上頁= button#menu-toggle.btn.back
				button#menu-back.btn.back
					//- 回上頁= button#menu-toggle.btn.back
				ul.six-topNvbar
					li
						button.btn.bell
							.badge 9
					li
						button.btn.plus
					li
						button.btn.trash
				#sidebar-wrapper
					.inner
						figure.six-avatar
							img.img-circle(src='../images/avatar.jpg', alt='莫孟娜')
						.six-userName
							a(href='/user-home') 莫孟娜
							a.btn.btn-primary.btn-xs.pull-right(href='/logout', title='會員登出') 登出
						.six-userNvbar
							ul.navbar-nav
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("訊息通知");', title='訊息通知')
										span 訊息通知
								li.dropdown
									a(href='javascript: console.log("商品列表");', title='商品列表')
										span 我的商品
								li.dropdown
									a(href='javascript: console.log("農莊品牌館");', title='農莊品牌館')
										span 我的商品組合
								li.dropdown
									a(href='javascript: console.log("訂單查詢");', title='訂單查詢')
										span 已下架商品
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("我的最愛");', title='我的最愛')
										span 出貨紀錄
								li.dropdown
									a(href='javascript: console.log("個人設定");', title='個人設定')
										span 農莊介紹
								li.dropdown.conversion
									a(href='javascript: console.log("切換成農莊");', title='切換成農莊')
										span 切換成買家

if type==="manager"
	header.navbar#six-header(class=type)(class=page)(role='navigation')
		.navbar-header#six-head
				.navbar-brand
					a.page-scroll(href='http://google.com')
						img(src="../images/logo.svg")

				if pagetitle
					.headTitle
						h2=pagetitle

				section.searchbar.hidden-xs(class=headSearch)
					//- 桌機出現 手機消失  =.hidden-xs
					//- 桌機消失 手機消失  =.hidden-xs.hidden-sm.hidden-md.hidden-lg
					.input-group
						input.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(type='button')

				button#menu-toggle.btn.bars
					//- 回上頁= button#menu-toggle.btn.back
				button#menu-back.btn.back
					//- 回上頁= button#menu-toggle.btn.back
				ul.six-topNvbar
					li
						button.btn.bell
							.badge 9
					li
						button.btn.plus
					li
						button.btn.trash
				#sidebar-wrapper
					.inner
						figure.six-avatar
							img.img-circle(src='../images/avatar.jpg', alt='莫孟娜')
						.six-userName
							a(href='/user-home') 莫孟娜
							a.btn.btn-primary.btn-xs.pull-right(href='/logout', title='會員登出') 登出
						.six-userNvbar
							ul.navbar-nav
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("訊息通知");', title='訊息通知')
										span 訊息通知
								li.dropdown
									a(href='javascript: console.log("商品列表");', title='商品列表')
										span 我的商品
								li.dropdown
									a(href='javascript: console.log("農莊品牌館");', title='農莊品牌館')
										span 我的商品組合
								li.dropdown
									a(href='javascript: console.log("訂單查詢");', title='訂單查詢')
										span 已下架商品
								li.dropdown.hidden-md.hidden-lg
									a(href='javascript: console.log("我的最愛");', title='我的最愛')
										span 出貨紀錄
								li.dropdown
									a(href='javascript: console.log("個人設定");', title='個人設定')
										span 農莊介紹
								li.dropdown.conversion
									a(href='javascript: console.log("切換成農莊");', title='切換成農莊')
										span 切換成買家
//- if page
//- 	header.header(class=page)
//- 		+buyer
//- else
//- 	header.header
//- 		+seller

// *-------------------//--header--------------------------*
